/* mobile screen settings */
body {
    margin: 0 auto;
}
@media screen and (min-width: 200px){
    /*#index-main{
        margin-top: 10px;
        padding-bottom: 20px;
        text-decoration: none;
    }*/
    .hero img {
        display: block;
        width:100%;
        height: auto;
    }

    .headstuff {
        display: grid;
        grid-template-columns: 120px 1fr;
        position: relative;
    }
    
    .limg{
        max-width: 115px;
        grid-column:1/2;
    }

    .wname {
        grid-column:2/3;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color:#122B1D;
    }
    
    .navigationBar {
        list-style: none;
        padding:0;
    }
    
    .navigationBar li {
        display:none;
    }
    
    .navigationBar li:first-child {
        display: block;
    }

   .navigationBar li {
        display: none;
    }
    
    .navigationBar a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
    }  

    .navigationBar a:hover {
        background-color: white;
        color:#122B1D;
    }
       
    .responsive li {
        display: block;
    }
    .summary{
        border: 2px solid black;
    }
    .wsum {
        border: 2px solid black;
        background-color: orangered;
    }    
    .fivehead {
        background-color: lightgrey;
        height: 60px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 0;
    }  
      
    .fcast {
    display: grid;
    grid-template-columns: 100px;
    grid-gap: 10px;
    justify-content: center;
    }
      
    .day1 {
        grid-row:1/2;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
   
    .day2 {
        grid-row:2/3;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .day3 {
        grid-row:3/4;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .day4 {
        grid-row:4/5;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .day5 {
        grid-row:5/6;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .w {
        color: red;
    }

    .t { 
        color:purple;
    }

    .r { 
        color:blue;
    }
   
}

/* medium screen settings */
@media screen and (min-width:420px){
    
    .hero img {
        display: block;
        width:100%;
        height: auto;
    }

    .headstuff {
        display: grid;
        grid-template-columns: 255px 1fr;
        position: relative;
    }
    
    .limg{
        max-width: 250px;
        grid-column:1/2;
    }

    .wname {
        grid-column:2/3;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color:#122B1D;
        text-decoration: none;
    }

    .navigationBar a {
        display: block;
        padding: 0.75em;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
    }  
    
    .navigationBar {
        display: flex;
        padding:0;
    }

    .navigationBar li {
        display: block;
        flex: 1 1 auto;
    }
      
    .navigationBar a {
        color:white;
        text-align: center;
    }

    .navigationBar li:first-child {
        display: none;
    }
    
    .fcast{
        display: grid;
        grid-template-columns: repeat(6, 45px);
        grid-gap: 10px;
        text-align:center;
        /*justify-content:left;*/
    }
    .day1{
        max-width: 190px;
        grid-column:1/span 2;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
   
    .day2{
        grid-column:3/span 2;
        grid-row:1;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .day3{
        grid-column:5/span 2;
        grid-row:1;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .day4{
        grid-column:2/span 2;
        grid-row:2;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .day5{
        grid-column:4/span 2;
        grid-row:2;
        margin-bottom:2px;
        border: solid 2px black;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
    
    .w {
        color: red;
    }

    .t { 
        color:purple;
    }

    .r { 
        color:blue;
    }
    
/* large screen settings */
@media screen and (min-width:720px){
    
        .hero img{
            display: block;
            width:100%;
            height: auto;
        }
        .headstuff {
            display: grid;
            grid-template-columns: 255px 1fr;
            position: relative;
        }
        
        .limg{
            max-width: 250px;
            grid-column:1/2;
        }
    
        .wname {
            grid-column:2/3;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
        .fcast{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
            max-width:100%;
        }
        .day1{
            grid-column:1/2;
            grid-row:1/2;
            border: solid 2px black;
        }
       
        .day2{
            grid-column:2/3;
            grid-row:1/2;
            border: solid 2px black;
        }
        .day3{
            grid-column:3/4;
            grid-row:1/2;
            border: solid 2px black;
        }
        .day4{
            grid-column:4/5;
            grid-row:1/2;
            border: solid 2px black;
        }
        .day5{
            grid-column:5/6;
            grid-row:1/2;    
            border: solid 2px black;
        }
    }
}