body {
    max-width: 700px;
}
img {
    max-width: 100%;
}
.sequence{
    display:grid;
    /*grid-template-columns: repeat(3, 220px);*/
    grid-template-rows: repeat(6 20px);
    grid-gap: 10px;
}
.p1 {
    grid-column: 1/2;
    grid-row: 1/3;
}
.p2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.p3{
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top:.7em;

}
.p4{
    grid-column: 2/3;
    grid-row: 2/3;

}
.p5{
    grid-column: 3/4;
    grid-row: 2/4;
    margin-top:.5em;
    
}
.p6{
    grid-column: 1/3;
    grid-row: 3/5;
    max-height: 300px;
    margin-top:3em;
    
}
.p7{
    grid-column: 3/4;
    grid-row: 4/5;

}
.p8{
    grid-column: 1/2;
    grid-row: 5/6;
    
}
.p9{
    grid-column: 1/2;
    grid-row: 6/7;
}
.p10{
    grid-column: 2/4;
    grid-row: 5/7;
}
