/* mobile screen settings */
body {
    margin: 0 auto;
}

@media screen and (min-width: 200px) {

    #index-main {
        margin-top: 10px;
        padding-bottom: 20px;
        text-decoration: none;
    }

    .headstuff {
        display: grid;
        grid-template-columns: 120px 1fr;
    }

    .w {
        color: red;
    }

    .t {
        color: purple;
    }

    .r {
        color: blue;
    }

    .limg {
        width: 100%;
        max-width: 115px;
        grid-column: 1/2;
    }

    .wname {
        width: 100%;
        max-width: 50px;
        grid-column: 2/3;
        bottom: 0;
        left: 0;
    }

    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color: #122B1D;
    }

    .navigationBar {
        list-style: none;
        padding: 0;
    }

    .navigationBar li {
        display: none;
    }

    .navigationBar li:first-child {
        display: block;
    }

    .navigationBar a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
    }

    .navigationBar a:hover {
        background-color: white;
        color: #122B1D;
    }

    .responsive li {
        display: block;
    }

    .hero img {
        display: block;
        width: 100vw;
        height: auto;
    }

    .heroTitle {
        text-align: center;
        color: green;
    }

    .current {
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 60vw;
        max-height: 80vw;
        border: 2px solid black;
        background-color: rgba(255, 68, 0, 0.575);
    }

    .current h1 {
        font-size: 15.5pt;
        font-weight: 200 bolder;
    }

    .coord {
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

    .coord section img {
        position: absolute;
        top: 42px;
        left: 141px;
    }

    .fivehead {
        font-size: 20pt;
        height: 30px;
        text-align: center;
        margin: 8px auto;
    }

    .five {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 150px 50px 60px;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(lightblue, lightblue, rgba(255, 68, 0, 0.575));
        max-width: 80%;
        border-radius: 10px 10px 0 0;
        padding: 4px;
    }

    .days {
        grid-column: 1/2;
        text-align: center;
    }

    .temps {
        grid-column: 2/3;
    }

    .icons {
        grid-column: 3/4;
    }

    .icons section {
        max-height: 48px;
    }

    .wsum {
        text-align: center;
        padding: 4px;
        margin: 0 auto;
        width: 100%;
        max-width: 80%;
        max-height: 80vw;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(rgba(255, 68, 0, 0.575), orangered);
    }

    .wsum h2 {
        margin-top: 0;
        grid-column: 1/-1;
        text-align: center;
    }

    .townie img {
        width: 100%;
        max-width: 200px;
    }
}

/* medium screen settings */
@media screen and (min-width:400px) {

    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }

    * .headstuff {
        display: grid;
        grid-template-columns: 255px 1fr;
        position: relative;
    }

    .limg {
        max-width: 250px;
    }

    .wname {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    nav {
        max-width: 760px;
        text-decoration: none;
    }

    .navigationBar {
        display: flex;
        padding: 0;
    }

    .navigationBar li {
        display: block;
        flex: 1 1 auto;
    }

    .navigationBar li:first-child {
        display: none;
    }

    .navigationBar a {
        text-align: center;
    }

    .townie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .townie section {
        border: 2px solid orangered;
        text-align:center;
    }

    .townie :first-child {
        grid-column: 1/2;
        background-color: white;
        color: blue;

    }

    .townie :nth-child(2) {
        grid-column: 2/3;
        background-color: white;
        color: blue;
    }

    .townie :nth-child(3) {
        grid-column: 3/4;
        background-color: white;
        color: blue;
    }
}

/* large screen settings */
@media screen and (min-width:720px) {
    .headstuff {
        display: grid;
        grid-template-columns: 255px 1fr;
        position: relative;
    }

    .limg {
        max-width: 250px;
    }

    .wname {
        position: absolute;

    }

    .today {
        position: relative;
    }

    .heroTitle {
        position: absolute;
        top: 12px;
        left: 40px;
        font-size: 40pt;
        color: rgb(73, 40, 219);
        text-shadow: 2px 2px 4px #000000;
    }

    main {
        position: relative;
    }

    .current {
        position: absolute;
        top: 52px;
        left: 62%;
        width: 245px;
        border: 3px solid white;
        border-radius: 15px 15px 15px 15px;
        color: white;
        background-color: rgba(73, 40, 219, 0.363);
    }

    .five {
        max-width: 40%;
        width: 75vw;
    }

    .wsum {
        max-width: 40%;
        width: 75vw;
    }

    .callMe {
        border: 4px black solid;
        background-color: gray;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 450px;
    }

    iframe {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .inform {
        background-color: lightgray;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto 15px;
        max-height: 220px;
        text-align: center;
    }

    .inform hr {
        width: 75%;
    }

    .ssevents,
    .prevents,
    .fhevents {
        margin: 0 auto;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 68, 0, 0.575);
        max-width: 40%;
        border: 2px black double;
        padding: 4px;
        font-weight: bold;
        color: white;
    }

    .ssevents h2,
    .prevents h2,
    .fhevents h2 {
        text-align: center;
    }


}