/* mobile screen settings */
body {
    margin: 0 auto;
}
@media screen and (max-width:420px){
    #index-main{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .navigationBar {
        overflow: hidden;
        background-color: #122B1D;
        position: relative;
      }
      
      .navigationBar {
        display: none;
      }
      
      .navigationBar a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .navigationBar a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .navigationBar a:hover {
        background-color: #0F084B;
        color: white;
      }
      
      .active {
        background-color: black;
        color: white;
      }
    
   
}

/* large screen settings */
@media screen and (min-width:420px){
    
    .hero img{
        width:100%;
        height: 150px;

    }
    .navigationBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #122B1D;
        text-align: center;
        width:100%;
      }
      
      .navigationBar a {
        display: inline-block;
        color:white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      .navigationBar a:hover {
        background-color:#0F084B;
      }
    .fcast{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        text-align:center;
        align-content: space-around;
    }
    .day1{
        grid-column:1/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
   
    .day2{
        grid-column:3/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    .day3{
        grid-column:5/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    .day4{
        grid-column:2/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    .day5{
        grid-column:4/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    @media screen and (min-width:720px){
    
        .hero img{
            width:100%;
            height: 150px;
    
        }
        .navigationBar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #122B1D;
            text-align: center;
            width:100%;
          }
          
          .navigationBar a {
            display: inline-block;
            color:white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
          }
          
          .navigationBar a:hover {
            background-color:#0F084B;
          }
        .fcast{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
            text-align:center;
            align-content: space-around;
        }
        .day1{
            grid-column:1/2;
            margin-bottom:2px;
            border: solid 2px black;
        }
       
        .day2{
            grid-column:2/3;
            margin-bottom:2px;
            border: solid 2px black;
        }
        .day3{
            grid-column:3/4;
            margin-bottom:2px;
            border: solid 2px black;
        }
        .day4{
            grid-column:4/5;
            margin-bottom:2px;
            border: solid 2px black;
        }
        .day5{
            grid-column:5/6;
            margin-bottom:2px;
            border: solid 2px black;
        }
}}