/* mobile screen settings */
@media screen and (max-width:420px){
    .main-section{
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .banner {
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero {
        grid-row:1/-1;
    }

}
/* large screen settings */
@media screen and (min-width:420px){
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #122B1D;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color:white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:#0F084B;
      }
    .fcast{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        text-align:center;
    }
    .day1{
        grid-column:1/2;
        margin-bottom:2px;
    }
   
    .day2{
        grid-column:2/3;
        margin-bottom:2px;
    }
    .day3{
        grid-column:3/4;
        margin-bottom:2px;
    }
    .day4{
        grid-column:4/5;
        margin-bottom:2px;
    }
    .day5{
        grid-column:5/6;
        margin-bottom:2px;
    }
}