.icon {max-width: 25%;}
main {max-width: 600px;}

.background {background-color: #122B1D;
            color: white;
        height: 50px;
        font-size: 25px;
        text-align: center;
    padding-top: 25px;}
.normal {color: black;
    height: 50px;
        font-size: 25px;
        text-align: center;
        padding-top: 25px;}
.low {background-color: #0F084B;
    color: white;
    height: 50px;
        font-size: 25px;
        text-align: center;
        padding-top: 25px;}
.high {background-color: #CC2936;
        color:white;
    height: 50px;
        font-size: 25px;
        text-align: center;
        padding-top: 25px;}

.typography{
    max-width: 600px;
    background-color: white;
    font-family: Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, sans-serif;
}

.shed {
    font-size:50px;
    background-color:#122B1D;
    color: white;
    font: Verdana;
    padding-bottom:10px;
}
.prinav {
    font-size:30px;
    background-color: white;
    color:rgb(54, 54, 252);
    font: Verdana;
}
.foot {
    font-size:20px;
    background-color:#122B1D;
    color: rgb(54, 54, 252);
    font: Tahoma;
}
.hitemps {
    font-size:30px;
    background-color: #CC2936;
    color: white;
    font: Arial;
}
.lowtemps {
    font-size:30px;
    background-color:#0F084B;
    color: white;
    font: Arial;
}