/* mobile screen settings */
/*body {
    margin: 0 auto;
}*/
@media screen and (max-width:420px){
    #index-main{
        margin-top: 10px;
        padding-bottom: 20px;
        text-decoration: none;
    }

    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color:#122B1D;
    }
    
    .navigationBar {
        list-style: none;
        padding:0;
    }
    
    .navigationBar li {
        display:none;
    }
    
    .navigationBar li:first-child {
        display: block;
    }

   .navigationBar li {
        display: none;
    }
    
    .navigationBar a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
    }  

    .navigationBar a:hover {
        background-color: white;
        color:#122B1D;
    }
       
    .responsive li {
        display: block;
    }
    .summary{
        border: 2px solid black;
    }
    .wsum {
        border: 2px solid black;
        background-color: orangered;
    }    
    .fivehead {
        background-color: lightgrey;
        height: 60px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 0;
    }  
      
    .fcast {
        text-align:center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
      
    .day1 {
        grid-column:1/2;
        margin-bottom:2px;
        border: solid 2px black;
    }
   
    .day2 {
        grid-column:2/3;
        margin-bottom:2px;
        border: solid 2px black;
    }

    .day3 {
        grid-column:3/4;
        margin-bottom:2px;
        border: solid 2px black;
    }

    .day4 {
        grid-column:4/5;
        margin-bottom:2px;
        border: solid 2px black;
    }

    .day5 {
        grid-column:5/6;
        margin-bottom:2px;
        border: solid 2px black;
    }

    .w {
        color: red;
    }

    .t { 
        color:purple;
    }

    .r { 
        color:blue;
    }
   
}

/* medium screen settings */
@media screen and (min-width:420px){
    
    .hero img {
        display: block;
        width:100%;
        height: auto;
    }

    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color:#122B1D;
        text-decoration: none;
    }

    .navigationBar a {
        display: block;
        padding: 0.75em;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
    }  
    
    .navigationBar {
        display: flex;
        padding:0;
    }

    .navigationBar li {
        display: block;
        flex: 1 1 auto;
    }
      
    .navigationBar a {
        color:white;
        text-align: center;
    }

    .navigationBar li:first-child {
        display: none;
    }
    .fcast{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        text-align:center;
    }
    .day1{
        grid-column:1/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
   
    .day2{
        grid-column:3/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    .day3{
        grid-column:5/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    .day4{
        grid-column:2/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    .day5{
        grid-column:4/span 2;
        margin-bottom:2px;
        border: solid 2px black;
    }
    
    .w {
        color: red;
    }

    .t { 
        color:purple;
    }

    .r { 
        color:blue;
    }
    
/* large screen settings */
@media screen and (min-width:720px){
    
        .hero img{
            display: block;
            width:100%;
            height: auto;
        }
        
        .fcast{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
            text-align:center;
            align-content: space-around;
        }
        .day1{
            grid-column:1/2;
            margin-bottom:2px;
            border: solid 2px black;
        }
       
        .day2{
            grid-column:2/3;
            margin-bottom:2px;
            border: solid 2px black;
        }
        .day3{
            grid-column:3/4;
            margin-bottom:2px;
            border: solid 2px black;
        }
        .day4{
            grid-column:4/5;
            margin-bottom:2px;
            border: solid 2px black;
        }
        .day5{
            grid-column:5/6;
            margin-bottom:2px;
            border: solid 2px black;
        }
    }
}