body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#index-main {
    max-width: 800px;
    margin:0 auto;
}
header{
    background-color: #1e1964;
    color: white;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    font-size: 15px;
    text-align: center;
    
}
#vh{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    margin:30px;
    padding-bottom: 450px;
}
#rot {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    margin:20px;
    position: relative;
    padding-bottom: 500px;
}
#wscd {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
    margin:30px;
    padding-bottom: 450px;
}
.scrnsht {
    vertical-align: center;
}
