.fiveDay {
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width:300px;
}
img {
    width:100%;
    max-width:300px;
    grid-column:1/3;
    grid-row:1/8;
    z-index:-1;
    margin:0 auto;
    border-radius:20px 20px 20px 20px;
}
.coord {
    grid-column:1/3;
    grid-row:2/3;
    z-index: +1;
    text-align:center;
    color:white;
}
.coord h2 {
    font-size:38pt;
    margin-bottom:0;
    margin-top:5px;
}
.coord :nth-child(3) {
    font-size:24pt;
    margin-top:0;
}
.parent{
    position:relative;
    max-width:300px;
    margin:0 auto;
}
.five {
    display:grid;
    grid-template-columns:175px 55px 70px;
    grid-auto-rows: minmax(60px,auto);
    max-width:300px;
    margin:0 auto;   
    text-align:center;
    color:lightblue;
    text-shadow: 1px 0px 1px gray;
    position: absolute;
    top:260px;
}
.days{
    grid-column:1/2;
    max-width:100%;
}
.tempsAndIcons{
    grid-column:2/3;
}
.icons section img {
    grid-column:3/4;
    
}
.icons section {
    grid-column:3/4;
    max-height:50.5px;
    
}
.icons {
    grid-column:3/4;
    max-height:28px;
    margin-right:20px;
    
}


