@media screen and (min-width:200px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }

    img {
        width: 100%;
        max-width: 100px;
    }
}

@media screen and (min-width:420px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    img {
        width: 100%;
        max-width: 200px;
        align-items:center;
    }
}

@media screen and (min-width:700px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
    }

    img {
        width: 100%;
        max-width: 300px;
    }
}